<%- include('partials/header') %>
<h1>Bienvenido a la aplicación integrada</h1>
<p>Seleccione una opción:</p>
<ul>
  <li><a href="/productos">Gestionar Productos</a></li>
  <li><a href="/pdf">Gestionar PDFs</a></li>
</ul>
<%- include('partials/footer') %>